<!--single post page template-->
<!--partials/post-info.handlebars-->
{{> post-info post }}

<!--include form; show buttons only if user is logged in-->
{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

<!--include comments partial-->
{{> comments post.comments}}

<!--reference comment and upvote script files only if user is logged in-->
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}